@font-face {
    font-family: FiraCode;
    src: url(../fonts/FiraCode-SemiBold.ttf);
  }
body{
    margin: 0;
    padding: 0;
}
h1{
    font-family: FiraCode;
    text-align: center;
}
#div{
    display: grid;
    place-items: center;
}
.gg-home-alt {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 14px;
    border: 2px solid;
    border-top: 0;
    border-radius: 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: -2px
   }
   
   .gg-home-alt::after,
   .gg-home-alt::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-home-alt::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    left: 0
   }
   
   .gg-home-alt::after {
    width: 6px;
    height: 10px;
    background: currentColor;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 4px;
    bottom: -2px
   }
   lottie-player{
       display: grid;
       place-items: center;
   }
   .button {
    display: inline-block;
    background-color: red;
    color: #fff;
    padding: 0.3rem 1.5rem;
    border-radius: 0.1rem;
    border-style: solid;
    border-color: rgb(255, 44, 44);
  }
  a{
      text-decoration: none;
      font-family: FiraCode;
  }
