@font-face {
  font-family: "boxicons";
  font-weight: normal;
  font-style: normal;
  src:
    url("../fonts/boxicons.ttf") format("truetype"),
    url("../images/boxicons.svg?#boxicons") format("svg");
}
.bx {
  font-family: "boxicons" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;
  text-transform: none;
}
.bxl-youtube:before {
  content: "\e970";
}
.bxl-instagram:before {
  content: "\e930";
}
.bxl-github:before {
  content: "\e929";
}
